{% extends 'base.html' %}

{% block content %}

<div class="min-h-screen bg-gradient-to-br from-green-400 to-green-600 flex flex-col md:flex-row md:items-center md:justify-center md:p-4">
    <div class="w-full md:max-w-sm md:mx-auto flex flex-col h-screen md:h-auto">
        <div class="flex gap-10 p-6 md:p-3">
            <a href="/">
                <button class="glass rounded-xl px-6 py-3 flex items-center gap-3 shadow-2xl transition-all duration-300 ease-out hover:shadow-xl hover:-translate-y-0.5 active:translate-y-0">
                    <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15 19l-7-7 7-7"/>
                    </svg>
                </button>
            </a>
            <h1 class="text-2xl md:text-xl font-semibold text-white block p-3">Forgot Password</h1>
        </div>
        <div class="w-full flex-1 px-6 pt-12 pb-8 md:p-6 shadow-lg bg-white rounded-t-3xl md:rounded-3xl">
            <form method="POST" class="space-y-6 md:space-y-4 max-w-md mx-auto md:max-w-none">
                {% csrf_token %}

                {% if form.errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-xl">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                <div class="flex justify-between items-center flex-col gap-6 md:gap-2">
                    {{ form.email }}
                    {% if form.email.errors %}
                    <span class="text-red-500 text-sm">{{ form.email.errors }}</span>
                    {% endif %}

                    <button
                            type="submit"
                            class="w-full font-semibold glass text-white bg-gradient-to-br from-green-400 to-green-600 rounded-xl px-6 py-4 md:py-3 flex items-center justify-center gap-3 shadow-2xl transition-all duration-300 ease-out hover:shadow-xl hover:-translate-y-0.5 active:translate-y-0"
                    >
                        Send reset prompt
                    </button>

                    <div class="mt-6 md:mt-3 flex justify-between items-center flex-col gap-4 md:gap-2 w-full">
                        <div class="flex flex-col md:flex-row justify-center items-center gap-2">
                            <span class="text-gray-600">Don't have an account?</span>
                            <a href="/signup"
                               class="font-semibold text-sm glass bg-contain text-white bg-gradient-to-br from-green-400 to-green-600 rounded-xl px-6 py-3 flex items-center gap-3 shadow-2xl transition-all duration-300 ease-out hover:shadow-xl hover:-translate-y-0.5 active:translate-y-0">Sign
                                up</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}