{% extends 'items_base.html' %}

{% block content %}

{% load expiry_extras %}

<div class="relative bg-gradient-to-br from-green-400 to-green-600 dark:shadow-black/30 dark:from-green-600 dark:to-green-800 -m-8 mb-0 p-8 pb-6 md:rounded-2xl">
    <div class="flex justify-between items-center">
        <button 
            class="glass rounded-xl px-6 py-3 flex items-center gap-3 shadow-2xl transition-all duration-300 ease-out hover:shadow-xl hover:-translate-y-0.5 active:translate-y-0"
            onclick="history.back()" 
        >
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <h1 class="text-white text-3xl md:text-4xl md:font-bold">My Items</h1>
        <button class="relative bg-white/20 backdrop-blur-sm p-3 rounded-full shadow-lg hover:bg-white/30 transition-all">
            <div class="material-symbols-outlined text-white text-2xl">notifications</div>
            <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs w-5 h-5 rounded-full flex items-center justify-center">0</span>
        </button>
    </div>
</div>

<ul class="flex flex-col items-center gap-6 mt-8 rounded-2xl">
    <!-- todo sort by drop down @charlie -->
    {% for item in items %}
    <!-- load item contents, dunno how this should be styled -->
    <li>
        {% csrf_token %}
        <div class="rounded-xl px-6 py-3 flex items-center justify-between gap-3 shadow-xl
                hover:-translate-y-0.5 transition dark:bg-gray-700 dark:border-gray-600 dark:text-white ">
            <div class="flex items-center gap-3">
                <div class="relative">
                    <span class="material-symbols-outlined text-green-600">
                        {% if item.item_category == 'FRUIT' %}
                            nutrition
                        {% elif item.item_category == 'DAIRY' %}
                            local_pizza
                        {% elif item.item_category == 'BREAD' %}
                            bakery_dining
                        {% elif item.item_category == 'VEG' %}
                            eco
                        {% elif item.item_category == 'EGGS' %}
                            egg
                        {% elif item.item_category == 'MEAT' %}
                            kebab_dining
                        {% endif %}
                    </span>
                    {% if item.expiry_date|expired:1 %}
                        <button 
                            class="absolute del-button -top-1 -right-1 bg-red-500 text-white text-xs w-4 h-4 rounded-full flex items-center justify-center"
                            data-item-id="{{item.id}}"
                        >x</button>
                    {%endif%}
                </div>
                <div class="flex flex-col">
                    <span>{{ item.item_name }}</span>
                    <span 
                        class="delta-days text-sm {% if not item.expiry_date|expired:1 %}text-gray-500 {% else %} text-red-500 {%endif%}"
                    >
                        {{ item.expiry_date|delta_days }}</span>
                </div>

                <a href="{% url 'edit_item' item.id %}"
                   class="text-green-600 hover:text-green-800 dark:shadow-black/30 dark:from-green-600 dark:to-green-800 ">
                    <span class="material-symbols-outlined">edit</span>
                </a>
            </div>
    </li>
    {% endfor %}
</ul>

<div class="flex justify-center mt-8">
    <a href="{% url 'add_item' %}">
        <button id="glassBtn"
                class="p-5 rounded-full backdrop-blur-xl bg-gradient-to-br from-green-400 to-green-600 border border-white/20
           shadow-xl hover:bg-white/20 transition relative dark:shadow-black/30 dark:from-green-600 dark:to-green-800">

            <span class="absolute inset-0 rounded-2xl bg-white/20 opacity-0 hover:opacity-20 transition"></span>

            <span id="icon"
                  class="material-symbols-outlined text-white text-4xl transition-transform duration-300">
        add_2
        </span>
        </button>
    </a>
</div>

<script>
    const buttons = document.querySelectorAll(".del-button").forEach(button => {
        button.addEventListener('click', async function() {
            const itemId = this.dataset.itemId;
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            try {
                const response = await fetch(`/items/${itemId}/edit/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                    body: new URLSearchParams({
                        action: 'delete',
                    }),
                });
                if (response.ok) {
                    this.closest('li').remove();
                }
            } catch (e) {
                console.error('error:', e);
            }
        
        });
    });
    window.addEventListener('pageshow', (event) => {
        if (event.persisted) {
            location.reload(); // only reload if the page came from cache
        }
    });
</script>

{% endblock %}