{% extends 'items_base.html' %}

{% block content %}

<div class="relative bg-gradient-to-br from-green-400 to-green-600 dark:shadow-black/30 dark:from-green-600 dark:to-green-800 -m-8 mb-0 p-8 pb-6 md:rounded-2xl">
    <div class="flex justify-between items-center">
        <h1 class="text-white text-3xl md:text-4xl md:font-bold">My Items</h1>
        <button class="relative bg-white/20 backdrop-blur-sm p-3 rounded-full shadow-lg hover:bg-white/30 transition-all">
            <div class="material-symbols-outlined text-white text-2xl">notifications</div>
            <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs w-5 h-5 rounded-full flex items-center justify-center">0</span>
        </button>
    </div>
</div>

<ul class="flex flex-col items-center gap-6 mt-8 rounded-2xl">
    <!-- todo sort by drop down @charlie -->
    {% for item in items %}
    <!-- load item contents, dunno how this should be styled -->
    <li>
        <div class="rounded-xl px-6 py-3 flex items-center justify-between gap-3 shadow-xl
                hover:-translate-y-0.5 transition dark:bg-gray-700 dark:border-gray-600 dark:text-white ">
            <div class="flex items-center gap-3">
                <span class="material-symbols-outlined text-green-600">
                    {% if item.item_category == 'FRUIT' %}
                        nutrition
                    {% elif item.item_category == 'DAIRY' %}
                        local_pizza
                    {% elif item.item_category == 'BREAD' %}
                        bakery_dining
                    {% elif item.item_category == 'VEG' %}
                        eco
                    {% elif item.item_category == 'EGGS' %}
                        egg
                    {% elif item.item_category == 'MEAT' %}
                        kebab_dining
                    {% endif %}
                </span>

                <div class="flex flex-col">
                    <span>{{ item.item_name }}</span>
                    <span class="text-sm text-gray-500">{{ item.expiry_date }}</span>
                </div>

                <a href="{% url 'edit_item' item.id %}"
                   class="text-green-600 hover:text-green-800 dark:shadow-black/30 dark:from-green-600 dark:to-green-800 ">
                    <span class="material-symbols-outlined">edit</span>
                </a>
            </div>
    </li>
    {% endfor %}
</ul>

<div class="flex justify-center mt-8">
    <a href="{% url 'add_item' %}">
        <button id="glassBtn"
                class="p-5 rounded-full backdrop-blur-xl bg-gradient-to-br from-green-400 to-green-600 border border-white/20
           shadow-xl hover:bg-white/20 transition relative dark:shadow-black/30 dark:from-green-600 dark:to-green-800">

            <span class="absolute inset-0 rounded-2xl bg-white/20 opacity-0 hover:opacity-20 transition"></span>

            <span id="icon"
                  class="material-symbols-outlined text-white text-4xl transition-transform duration-300">
        add_2
        </span>
        </button>
    </a>
</div>
<!-- todo add button to add form -->

{% endblock %}